<h2><%= @tasks.title %></h2>
<p><%= @tasks.details %></p>

<%= link_to "ðŸ Back to listðŸ ", tasks_path %>
<br>
<%= link_to "DeleteðŸ—‘ï¸", task_path(@tasks), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
